<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="ch4/index.css" />
  </head>
  <body>
    <div class="header">
      <a class="back" href="/"><span><</span></a>
      <img class="logo" src="ch4/assets/logo 1.png" alt="logo permainan" />
      <p>ROCK PAPPER SCISSORS</p>
    </div>

    <div class="container">
      <div class="player">
        <p>PLAYER 1</p>
        <img class="batu" src="ch4/assets/batu.png" alt="batu" />
        <img class="kertas" src="ch4/assets/kertas.png" alt="kertas" />
        <img class="gunting" src="ch4/assets/gunting.png" alt="gunting" />
      </div>

      <div class="versus">
        <span>VS</span>
        <img class="refresh" src="ch4/assets/refresh.png" alt="logo refresh" />
      </div>

      <div class="computer">
        <p>COMP</p>
        <img class="batu" src="ch4/assets/batu.png" alt="batu" />
        <img class="kertas" src="ch4/assets/kertas.png" alt="kertas" />
        <img class="gunting" src="ch4/assets/gunting.png" alt="gunting" />
      </div>
    </div>

    <script src="ch4/main.js"></script>
  </body>
</html>
